replicaCount: 1

image:
  repository: ghcr.io/example-org/linkedin_job
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: ghcr-creds
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

ingress:
  enabled: true
  className: "traefik"
  annotations: {}
  hosts:
    - host: entarbeit.online
      paths:
        - path: /
          pathType: Prefix
  tls: []
